<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://kit.fontawesome.com/f6254809ea.js" crossorigin="anonymous"></script>
    <title>Rotatory Navigation</title>
  </head>
  <body>
    <div class="container">
      <!--CORNER CIRCLE MENU-->
      <div class="corner-cirlce">
        <div class="circle">
          <button id="close">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      </div>
      <!--PROPER CONTENT-->
      <div class="content">
        <h1>Article Title</h1>
        <small>Subtitle</small>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit deserunt incidunt earum totam quam at, est delectus soluta voluptatem voluptatum saepe reprehenderit vel quo quod eveniet beatae consequuntur consequatur quia.</p>
      </div>
    </div>
  </body>
</html>
